<!-- <% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<form role="form" action="/auth/local/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign up</button>
</form>
 -->
 
 <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
        <%- partial('../shared/register.ejs') %>
    </div> 
 </div>