<%- partial('authErrorMessage.ejs') %>
<form role="form" action="/auth/local" method="post">
    <div class="row form-row">
        <div class="col-sm-6">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="identifier" id="username" placeholder="Username or Email">
        </div>
        <div class="col-sm-6">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
    </div>
    <div class="row form-row">
        <div class="col-sm-2">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class="col-sm-10">
          <p style="float:right;">Questions? Please see the instructions <a href="instructions.pdf">here</a>.</p>
        </div>
    </div>
</form>