<%- partial('authErrorMessage.ejs') %>
<form role="form" action="/auth/local/register" method="post" id="register">
	<div class="row form-row">
		<div class="col-sm-6">
			<label for="username">Username:</label>
			<input type="text" name="username" class="form-control" placeholder="Username">
		</div>
		<div class="col-sm-6">
			<label for="password" style="width:100%">Password: <span style="float:right;">(Must be at least 6 characters)</span></label>
            <input type="password" class="form-control" name="password" placeholder="Password">
		</div>
	</div>
	<div class="row form-row">
        <div class="col-sm-6">
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Email" class="form-control">
        </div>
        <div class="col-sm-6">
            <label for="gender">Gender</label>
            <select name="gender" class="form-control" id="gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
        </div>
    </div>
    <div class="row form-row">
 		<div class="col-sm-22">
			<div class="checkbox">
				<label> <input type="checkbox" value="true" name="tosPp" id="tosPp"> I have read and accept the <a href="/static/termsOfService.html" target="_blank">Terms of Service</a> </label>
			</div>
		</div>
    </div>
	<div class="row form-row">
		<div class="col-sm-2">
			<button class="btn btn-primary" type="submit">Register</button>
		</div>
        <div class="col-sm-10">
          <p style="float:right;">Questions? Please see the instructions <a href="instructions.pdf">here</a>.</p>
        </div>
	</div>
</form>