<div id="top">
    <div class="row videos">
        <div class="col-sm-12">
            <div role="tabpanel">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#videosList" aria-controls="list" role="tab" data-toggle="tab">Audio Tracks</a></li>
                    <li role="presentation" class="hide"><a href="#recordings" aria-controls="recordings" role="tab" data-toggle="tab">Recordings</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="videosList"> 
                        <table cellpadding=0 cellspacing=0 border=0></table>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="recordings"> 
                        <table cellpadding=0 cellspacing=0 border=0></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="video">
                <!-- <video id="smallVideoPlayer"></video> -->
                <ziggeo ziggeo-width=320 ziggeo-height=240 ziggeo-id="ziggeoPlayer"></ziggeo>
                <!-- <div class="controls">
                    <ul>
                        <li class="record"><button class="btn btn-default"><span class="glyphicon glyphicon-record"></span></button></li>
                        <li class="move"><button class="btn btn-default"><span class="glyphicon glyphicon-fullscreen"></span></button></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div id="bottom">
    <div class="video">
	    <video loop id="largeVideoPlayer" src="/prompterVideos/v2/how-to-video.mp4"></video>
        <div class="controls">
            <ul>
                <li class="play"><button class="btn btn-success"><span class="glyphicon glyphicon-play"></span></button></li>
            </ul>
        </div>
    </div>
    <p style="position: absolute; z-index: 30000; bottom: 0; width: 100%; text-align: center;">&trade; 2015</p>
</div>

<% if(typeof user != 'undefined' && user.hasOwnProperty('username')) { %>
<script type="text/javascript">
var user = <%- JSON.stringify(user) %>;
</script>
<% } %>