<div class="modal fade beforeRecording" tabindex="-1" role="dialog" aria-labelledby="beforeRecording" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <div class="modal-body">
                <h2>Before Recording</h2>
                <p>Before you begin, there are a few things you need to make sure of:</p>
                <ol>
                    <li>Verify your audio is turned on</li>
                    <li>To record, you will have to grant permission to the app to use your camera</li> 
                </ol>
            <div class="modal-footer">
	        <button class="btn btn-primary" id="readyToRecord">Ready!</button>
	      </div>
        </div>
    </div>
</div>
</div>