<div class="modal fade doneRecording" tabindex="-1" role="dialog" aria-labelledby="doneRecording" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <div class="modal-body">
                <h2>Recording Submitted!</h2>
                <p>Thanks for submitting your video!  They player will now reset.  Choose the next song video to practice and record.</p>
            <div class="modal-footer">
        <button class="btn btn-primary" id="recordAnother">Close</button>
      </div>
        </div>
    </div>
</div>