<div class="modal fade loginOrRegister" tabindex="-1" role="dialog"
	aria-labelledby="loginOrRegister" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!--       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div> -->
			<div class="modal-body">
			 <p>New user? Please click on register and fill out the requested information to begin.</p>
				<div role="tabpanel">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a href="#login"
							aria-controls="login" role="tab" data-toggle="tab">Login</a>
						</li>
						<li role="presentation"><a href="#register"
							aria-controls="register" role="tab" data-toggle="tab">Register</a>
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="login">
						  <%- partial('../../shared/login.ejs') %>
						</div>
						<div role="tabpanel" class="tab-pane" id="register">
						  <%- partial('../../shared/register.ejs') %>
					   </div>
					</div>
				</div>
			</div>
			<div class="modal-body">
			 <ul>
			     <li><a href="http://youtu.be/1AoYvzldtyg?list=PLBXIOgZvHt6bv0JAdUs5W6m3ijd_HEBhL" target="_blank">Quick Video Demonstration</a></li>
			     <li><a href="http://youtu.be/Q0EElXPs0MA?list=PLBXIOgZvHt6bv0JAdUs5W6m3ijd_HEBhL" target="_blank">Video Tutorial of Registration</a></li>
			     <li><a href="http://youtu.be/q6-FimeYtVs?list=PLBXIOgZvHt6bv0JAdUs5W6m3ijd_HEBhL" target="_blank">Video Tutorial of Website</a></li>
                 <li><a href="http://youtu.be/D7o7BrlbaDs" target="_blank">Virtual Choir Example</a></li>
			 </ul>
             <p style="font-size: small">This website is optimized to work on desktop and laptop systems with a broadband connection and a web camera.  Systems must have adobe flash player.  Users should have a set of headphones or ear-buds on when they participate and be in a well lit place.  Some tablets and cellphones may be able to run this website, but we cannot guarantee it will work on them.  This is a third party platform so please email support questions to <a href="mailto:info@myvirtualchoir.com">info@myvirtualchoir.com</a> and not back to your company representative.</p>
             <p>Contact: <a href="mailto:info@myvirtualchoir.com">info@myvirtualchoir.com</a></p>
			</div>
			<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
		</div>
	</div>
</div>