/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

@import 'bootstrap.min.css';

@green: #69c100;
@lightGreen: lighten(@green, 10%);
@lighterGreen: lighten(@green, 50%);
@darkGreen: darken(@green, 15%);
@orange: #ffa600;
@grey: lighten(#000, 25%);

video {
    width: 100%;
    height: 100%;
}
a {
    color: @green;
    &:hover {
        color: @darkGreen;
    }
}
.btn-primary {
    background-color: @green;
    border-color: @darkGreen;
}
.btn-primary:hover {
    background-color: @darkGreen;
}
.row {
    margin-top: 15px;
}
.tab-pane {
    .alert {
        margin-top: 15px;
    }
}
@media screen and (min-width:992px) {
    body {
        overflow: hidden;
    }
    .container {
        width: 100%;
    }
    .video {
        position: relative;
        .controls {
            position: absolute;
            left: 15px;
            bottom: 15px;
            right: 15px;
            ul {
                margin: 0px;
                padding: 0px;
                overflow: auto;
                li {
                    float: left;
                    margin-right: 15px;
                    list-style-type: none;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    #top {
        visibility: hidden;
        position: absolute;
        z-index: 100;
        bottom: 20px;
        right: 10px;
        opacity: .5;
        .row {
            margin: inherit;
        }
        .videos {
            .nav {
                li {
                    width: 50%;
                    display: block;
                    float: left;
                    background-color: white;
                    a {
                        border-color: @green;
                        border-radius: 0px;
                        color: @green;
                        font-weight: bold;
                        text-transform: uppercase;
                        &:last-child {
                            border-left: 0px;
                        }
                         
                         &.active {
                             color: @orange;
                         }                       
                    }
                    &.active {
                        a {
                            border-bottom-color: white;
                            border-bottom-width: 1px;
                        }
                    }
                }
            }
            .tab-content {
                background-color: white;
            }
            #videosList {
                max-height: 25vh;
                overflow: auto;
                table {
                    width: 100%;
                    td {
                       a {
                           color: @green;
                           display: block;
                           width: 100%;
                           padding: 15px;
                           border-bottom: 1px solid @green;
                           &:hover {
                               text-decoration: none;
                               font-weight: bold;
                           }
                       } 
                    }
                }
            }
        }
        .video {
            width: 320px;
            height: 240px;
            background-color: white;
            video {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: white;
            }
            .controls {
                ul {
                    li {
                        &:last-child {
                            float: right;
                        }
                    }
                }
            }
        }
        &:hover {
            opacity: 1;
        }
    }
    #bottom {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #e2e2e2;
        .video {
            height: 100vh;
            video {
                position: fixed;
                right: 0;
                bottom: 0;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                background-size: cover;
            }
        }
    }
    .state-ready {
        #top {
            visibility: visible;
        }
    }
}